<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Android 11+ package visibility: without this query the app cannot see the
         installed text-to-speech engine, and TextToSpeech fails to initialise. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>
